@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	grid-gap: 20px;
	align-items: stretch;
	>article {
		border: 1px solid #ccc;
		box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
		img {
			max-width: 100%;
		}
	}
	.text {
		padding: 20px;
	}
}